<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">商品评论</h1>
    <button class="button button-assertive" ng-click="closePopover();">取消</button>
  </ion-header-bar>
  <ion-content class="padding-horizontal">
    <textarea style="width:100%;height: 200px; resize: none; border: 1px solid #ddd;"  placeholder="输入评论内容60字以内" maxlength="60" class="padding
    "></textarea>
    <div class="padding-top">
    	<div class="button button-assertive button-block" ng-click="confirmDisc();">确 认</div>
    </div>
  </ion-content>
</ion-modal-view>